/* ============================================== */
/* ================ general styles =============== */
/* ============================================== */
@font-face {
    font-family: 'Futura PT';
    src: url('/assets/fonts/FuturaPT-Book.woff2') format('woff2'),
        url('/assets/fonts/FuturaPT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/assets/fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('/assets/fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



:root {
    --primary-font: 'Futura PT', sans-serif;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #999;
    --dark-color: rgba(0, 0, 0, 0.6);
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: var(--primary-font);
    color: var(--black-color);
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

main {
    display: block;
}

h1,
h2,
h3,
h4 {
    font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: normal;
}

figure,
img {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

a:hover {
    text-decoration: none;
}

a {
    color: var(--black-color);
    transition: all 0.2s ease-in;
}

p {
    padding: 0;
    margin: 0;
    line-height: 2;
}

button,
input,
select,
textarea {
    font-family: var(--primary-font);
}

.btn:focus,
.btn:active,
a:focus,
a:active,
input:focus,
input:active,
textarea:focus,
textarea:active,
select:focus,
select:active,
button:focus,
button:active,
span:focus,
span:active {
    outline: 0;
    box-shadow: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}

/* Helper Styles */
.site-container {
    max-width: 1440px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 100%;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

.site-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.site-align-center {
    align-items: center;
    justify-content: center;
}

.site-col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.site-col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.site-col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.site-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.site-col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.site-col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.site-col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.site-col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.site-col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.site-col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.site-col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.site-col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.site-col-1,
.site-col-2,
.site-col-3,
.site-col-4,
.site-col-5,
.site-col-6,
.site-col-7,
.site-col-8,
.site-col-9,
.site-col-10,
.site-col-11,
.site-col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.site-col-offset-4 {
    margin-left: 33.333333%;
}

.site-col-offset-3 {
    margin-left: 25%;
}

.site-col-offset-2 {
    margin-left: 16.666667%;
}

.site-col-offset-1 {
    margin-left: 8.333333%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Site Headings */
.text-center {
    justify-content: center;
    text-align: center;
}

.text-right {
    text-align: right;
    justify-content: flex-end;
}

.text-left {
    text-align: left;
    justify-content: flex-start;
}

.site-heading-white {
    color: var(--white-color);
}

.site-heading p {
    margin-bottom: 15px;
}

.site-heading p:last-of-type {
    margin-bottom: 0;
}

.site-heading h2 {
    font-size: 42px;
    font-weight: 600;
}

.site-heading h3 {
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase
}

.site-heading h4 {
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase
}

.site-heading h5 {
    font-size: 24px;
}

.site-heading div::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, #1cb3c5 0%, #fb79c7 100%);
}

.site-heading div {
    position: relative;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.4;
    padding-left: 35px;
}

/* Site Buttons */
.site-button {
    display: inline-block;
}

.site-button a {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    height: 55px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--black-color);
}

.site-button a:hover {
    background-color: var(--black-color);
}

.site-button-link a {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #07b3c6;
    text-decoration: none;
}


/* Sections Spacing */
.site-row-p20x {
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-row-pt20x {
    padding-top: 20px;
}

.site-row-pb20x {
    padding-bottom: 20px;
}

.site-row-p25x {
    padding-top: 25px;
    padding-bottom: 25px;
}

.site-row-pt25x {
    padding-top: 25px;
}

.site-row-pb25x {
    padding-bottom: 25px;
}

.site-row-p30x {
    padding-top: 30px;
    padding-bottom: 30px;
}

.site-row-pt30x {
    padding-top: 30px;
}

.site-row-pb30x {
    padding-bottom: 30px;
}

.site-row-p35x {
    padding-top: 35px;
    padding-bottom: 35px;
}

.site-row-pt35x {
    padding-top: 35px;
}

.site-row-pb35x {
    padding-bottom: 35px;
}

.site-row-p50x {
    padding-top: 50px;
    padding-bottom: 50px;
}

.site-row-pt50x {
    padding-top: 50px;
}

.site-row-pb50x {
    padding-bottom: 50px;
}

.site-row-p40x {
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-row-pt40x {
    padding-top: 40px;
}

.site-row-pb40x {
    padding-bottom: 40px;
}

.site-row-p70x {
    padding-top: 70px;
    padding-bottom: 70px;
}

.site-row-pt70x {
    padding-top: 70px;
}

.site-row-pb70x {
    padding-bottom: 70px;
}

.site-row-p100x {
    padding-top: 100px;
    padding-bottom: 100px;
}

.site-row-pt100x {
    padding-top: 100px;
}

.site-row-pb100x {
    padding-bottom: 100px;
}

.site-row-p140x {
    padding-top: 140px;
    padding-bottom: 140px;
}

.site-row-pt140x {
    padding-top: 140px;
}

.site-row-pb140x {
    padding-bottom: 140px;
}

.site-row-p180x {
    padding-top: 180px;
    padding-bottom: 180px;
}

.site-row-pt180x {
    padding-top: 180px;
}

.site-row-pb180x {
    padding-bottom: 180px;
}

.site-row-p200x {
    padding-top: 200px;
    padding-bottom: 200px;
}

.site-row-pt200x {
    padding-top: 200px;
}

.site-row-pb200x {
    padding-bottom: 200px;
}

/* ============================================== */
/* ================ header styles =============== */
/* ============================================== */

/* Top Navigation */
.top-bar {
    margin: 0;
    padding: 10px 0;
    background-color: #F6F5F3;
}

.top-bar-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar-holder p {
    font-size: 14px;
    font-weight: 400;
}

.top-bar-holder a {
    color: var(--dark-color);
}

/* Navigation */
.main-header {
    border-bottom: 1px solid #99999930;
}

.main-nav {
    display: flex;
    margin: 0;
    padding: 30px 0;
    background-color: var(--white-color);
}

.main-nav-fixed {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    border-radius: 0;
}

.nav-logo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo a {
    display: flex;
    height: 30px;
}

.nav-logo img {
    display: block;
    height: 30px;
    width: auto;
}

.nav-tools {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
}


/* Mobile Navigation */
.nav-tools-mobile {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-open-mobile {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
}

.menu-open-mobile span {
    width: 25px;
    height: 2px;
    background-color: var(--black-color);
}

.menu-open-mobile span:nth-child(2) {
    margin-top: 5px;
}

.menu-open-mobile span:nth-child(3) {
    margin-top: 5px;
}

.site-overlay {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    background: rgba(0, 0, 0, 0.6);
}

.mobile-menu {
    position: fixed;
    right: auto;
    left: 0;
    top: 0;
    bottom: 0;
    width: 350px;
    z-index: 11;
    overflow: auto;
    transform: none;
    background-color: #F1F0ED;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-inner {
    padding: 15px;
}

.mobile-menu-logo img,
.mobile-menu-logo {
    height: 40px;
    width: auto;
}

.mobile-menu-active .mobile-menu {
    transform: none;
}

body.mobile-menu-open {
    overflow: hidden;
}

.mobile-menu-open .site-overlay {
    opacity: 1;
    visibility: visible;
}

.menu-close {
    display: block;
    width: 22px;
    height: 22px;
    text-align: center;
    margin-left: auto;
}

.menu-close::before,
.menu-close::after {
    position: absolute;
    content: ' ';
    height: 22px;
    width: 1.5px;
    background-color: var(--white-color);
}

.menu-close::before {
    transform: rotate(45deg);
}

.menu-close::after {
    transform: rotate(-45deg);
}

.mobile-menu-close-inner {
    cursor: pointer;
    display: flex;
    color: #313132;
    align-items: center;
}

.mobile-menu-content {
    padding: 20px 0;
    margin: 20px 0;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
}

.mobile-menu-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu-content ul li {
    position: relative;
    margin-bottom: 15px;
}

.mobile-menu-content ul li:last-of-type {
    margin-bottom: 0;
}

.mobile-menu-content ul li a {
    position: relative;
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.mobile-menu-content .sub-menu {
    display: none;
    margin-top: 10px;
    padding-left: 10px;
}

.mobile-menu-content .sub-menu li a {
    opacity: 0.5;
}

.mobile-menu-content .sub-menu .sub-menu {
    display: block;
}

.mobile-menu-content li.sub-menu-parent::after {
    content: none !important;
}

.mobile-menu-content li.sub-menu-parent .sub-menu {
    padding-left: 0;
}

.mobile-menu-content li.sub-menu-separator {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}

.mobile-menu-content li.sub-menu-parent>a {
    opacity: 1 !important;
}

.mobile-menu-content ul .is-active.menu-item-has-children::after {
    transform: rotate(-180deg);
}

.mobile-menu-content ul li.menu-item-has-children::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 12px;
    height: 7px;
    transition: transform 0.3s ease;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg class='menu-toggle-icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 192'%3E%3Cpath d='M176 192a15.97 15.97 0 0 1-6.124-1.215 15.964 15.964 0 0 1-5.188-3.473l-160-160c-6.252-6.252-6.252-16.376 0-22.624 6.252-6.248 16.376-6.252 22.624 0L176 153.376 324.688 4.688c6.252-6.252 16.376-6.252 22.624 0 6.248 6.252 6.252 16.376 0 22.624l-160 160a15.964 15.964 0 0 1-5.188 3.473A15.97 15.97 0 0 1 176 192Z' fill='%23010314'%3E%3C/path%3E%3C/svg%3E");
}

.mobile-menu-footer .nav-tools-cta a {
    width: 100%;
}

/* ============================================== */
/* ================ footer styles =============== */
/* ============================================== */

/* Footer */
.main-footer {
    position: relative;
    margin: 0;
    background-color: #F6F5F3;
}

.footer-top {
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-text h4,
.footer-navigation h4 {
    color: var(--black-color);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-navigation a,
.footer-navigation p {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-color);

}

.footer-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-navigation ul li {
    margin-bottom: 15px;
}

.footer-navigation ul li:last-of-type {
    margin-bottom: 0;
}

.footer-navigation ul li a {
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.footer-navigation ul li a:hover {
    color: var(--black-color);
}

.footer-navigation .email-form form {
    position: relative;
    margin-top: 20px;
}

.footer-navigation .email-form input:not(input.form-submit) {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    border: none;
    padding: 0 0 5px;
    background-color: transparent;
    border-bottom: 1px solid #999;
}

.footer-navigation .email-form input.form-submit {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    font-weight: 500;
    height: 40px;
    border: none;
    background-color: transparent;
}

.footer-navigation .footer-social ul {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 20px 0 0;
    list-style: none;
}

.footer-navigation .footer-social ul li {
    margin: 0;
    padding: 0;
}

.footer-navigation .footer-social ul li a svg {
    width: auto;
    height: 20px;
}

.footer-navigation .footer-social ul li a svg:hover path {
    fill: var(--black-color);
    transition: all 0.2s ease-in-out;
}

.footer-bottom {
    padding: 20px 0;
    border-top: 1px solid rgba(153, 153, 153, 0.3);
}

.footer-copyright p,
.footer-privacy a {
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-color);
    text-decoration: none;
}

.footer-privacy a:hover {
    color: var(--black-color);
}

.footer-privacy {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* ============================================== */
/* ================ site styles =============== */
/* ============================================== */


/* Home Hero */
.site-hero {
    background-color: #F6F5F3;
}

.site-hero .site-row .site-col-6:last-of-type {
    padding: 0;
}

.hero-image figure {
    height: 84vh;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


.hero-caption h1 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: normal;
}

.hero-caption p {
    font-size: 18px;
    font-weight: 400;
}

.hero-btn {
    display: inline-block;
    margin-top: 30px;
}

.hero-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 60px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    border: 1px solid var(--black-color);
    background-color: var(--black-color);
}

.hero-btn a:hover {
    color: var(--black-color);
    background-color: transparent;
}

/* Product CTA */
.product-cta-left .site-row {
    flex-direction: row-reverse;
}

.product-cta-image {
    position: relative;
}

.product-cta-image figure {
    height: 800px;
}

.product-cta-image figure:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
    background-color: rgba(0, 0, 0, 0.2);
}

.product-cta-image figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.product-cta-caption {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
    transform: translateY(-50%);
}

.product-cta-caption h2 {
    font-size: 42px;
    color: var(--white-color);
}

.product-cta-btn {
    display: flex;
}

.product-cta-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 30px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: transparent;
    backdrop-filter: blur(100px);
}

.product-cta-btn a:hover {
    backdrop-filter: blur(10px);
}

.product-cta .site-row .site-col-6:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-cta-galery figure {
    width: 400px;
    height: 600px;
    margin: auto;
}

.product-cta-galery figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* Page Bottom CTA */
.page-bottom-cta {
    position: relative;
}

.page-bottom-cta-image figure {
    height: 600px;
}

.page-bottom-cta-image figure:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
    background-color: rgba(0, 0, 0, 0.2);
}

.page-bottom-cta-image figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.page-bottom-cta-caption {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
    transform: translateY(-50%);
}

.page-bottom-cta-caption h2 {
    font-size: 42px;
    color: var(--white-color);
}

.page-bottom-cta-btn {
    display: flex;
}

.page-bottom-cta-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 30px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: transparent;
    backdrop-filter: blur(100px);
}

.page-bottom-cta-btn a:hover {
    backdrop-filter: blur(10px);
}

/* ============================================== */
/* ================ shop styles =============== */
/* ============================================== */
/* Shop filtre */
.shop-page .shop-content {
    padding-top: 70px;
    padding-bottom: 70px;
}

.shop-filtre .shop-filtre-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-filtre .filtre-result h3 {
    font-size: 16px;
    letter-spacing: -1%;
    color: #222831;
}

.shop-filtre .filtre-button {
    display: flex;
}

.shop-filtre .filtre-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--black-color);
    border: 1px solid var(--black-color);
    background-color: transparent;
}

.shop-filtre .filtre-button a:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

/* Shop hero */
.shop-hero {
    padding-top: 30px;
    padding-bottom: 50px;
}

.shop-hero figure {
    width: auto;
    height: 600px;
}

.shop-hero figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* Product */

.related ul.products,
.shop-page ul.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.related .product .product-item-image,
.shop-page .product .product-item-image {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F5F3;
}

.related .product .product-item-image a,
.shop-page .product .product-item-image a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.related .product .product-item-image figure,
.shop-page .product .product-item-image figure {
    width: auto;
    height: 260px;
}

.related .product .product-item-image figure img,
.shop-page .product .product-item-image figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

.related .product .product-item-description,
.shop-page .product .product-item-description {
    padding: 10px 20px;
}

.related .product .product-item-title a,
.shop-page .product .product-item-title a {
    text-decoration: none;
}

.related .product .product-item-category h5,
.shop-page .product .product-item-category h5 {
    font-size: 16px;
    color: var(--gray-color);
    margin-bottom: 5px;
}

.related .product .product-item-title h3,
.shop-page .product .product-item-title h3 {
    font-size: 18px;
    color: var(--black-color);
    margin-bottom: 5px;
}

.related .product .product-item-price h4,
.shop-page .product .product-item-price h4 {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 20px;
}

.product-item-color ul {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
}

.product-item-color ul li {
    position: relative;
    border-radius: 50px;
    border: 1px solid transparent;
}

.product-item-color ul li span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

.color-1 {
    background-color: #ECE0D4;
}

.color-2 {
    background-color: #DEC4AD;
}

.color-3 {
    background-color: #C29170;
}

.color-4 {
    background-color: #AA816F;
}

.color-5 {
    background-color: #794F43;
}

.color-6 {
    background-color: #50332F;
}


.product-item-color .tooltiptext {
    font-size: 14px;
    font-weight: 500;
    visibility: hidden;
    color: var(--white-color);
    background-color: var(--black-color);
    text-align: center;
    border-radius: 10px;
    padding: 0 15px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s;
    white-space: nowrap
}

.product-item-color li:hover .tooltiptext {
    visibility: visible;
    opacity: 1
}

.product-item-color li:hover {
    border: 1px solid var(--black-color);
}

/* Single Product */
.single-page .product {
    position: relative;
}

.single-page .product .site-row {
    margin: 0;
}

.single-page .product .site-col-6 {
    padding: 0;
}

.single-page .product .product-gallery-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.single-page .product .product-gallery-image {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F5F3;
}

.single-page .product .product-gallery a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-page .product .product-gallery .product-gallery-wrapper figure {
    width: auto;
    height: 260px;
}

.product-gallery .product-gallery-wrapper .product-gallery-image:nth-child(2) figure,
.product-gallery .product-gallery-wrapper .product-gallery-image:nth-child(3) figure,
.product-gallery .product-gallery-wrapper .product-gallery-image:nth-child(4) figure {
    width: auto;
    height: 100%;
}

.single-page .product .product-gallery .product-gallery-wrapper figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

.summary {
    position: sticky;
    top: 0;
    padding: 100px 190px 100px 100px;
}

.summary .product-item-category h5 {
    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: -2%;
    color: var(--gray-color);
    text-transform: uppercase;
}

.summary .product-item-title h3 {
    font-size: 32px;
    margin-bottom: 5px;
    color: var(--black-color);
}

.product-item-reviews {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-item-reviews-icon {
    display: flex;
    align-items: center;
    gap: 2px;
}

.product-item-reviews-icon svg {
    width: 13px;
    height: 12px;
}

.product-item-reviews-count a {
    font-size: 14px;
    color: var(--gray-color);
}

.summary .product-item-price h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 50px;
    color: var(--black-color);
}

.summary .product-item-color h3 {
    font-size: 16px;
    color: var(--gray-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.summary .product-item-color h3 span {
    color: var(--black-color);
    text-transform: capitalize;
}

.variations h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--gray-color);
    text-transform: uppercase;
}

.variations .variation-radios input {
    display: none;
}

.variations .variation-radios input[type='radio']:checked+label {
    color: var(--white-color);
    background-color: #28282a;
    border: none;
}

.variations .variation-radios {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.variations .variation-radios label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    width: 50px;
    height: 40px;
    cursor: pointer;
    line-height: normal;
    border-radius: 50px;
    border: 1px solid #dedede;
}

.reset_variations {
    position: absolute;
    top: 10px;
    left: auto;
    right: 0;
    color: #cc0100;
    font-weight: 600;
    text-decoration: none;
}

.variations .variation-radios label:last-of-type {
    margin-right: 0;
}

.product-size-table a {
    font-size: 12px;
    text-transform: uppercase;
}

.product-add-to-cart button {
    display: inline-block;
    font-size: 14px;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    letter-spacing: 0;
    margin-top: 50px;
    border-radius: 100px;
    text-transform: none;
    text-decoration: none;
    color: var(--white-color);
    border: 1px solid var(--black-color);
    transition: all .2s ease-in-out;
    background-color: var(--black-color);
}

.product-add-to-cart button:hover {
    background-color: transparent;
    color: var(--black-color);
}

.product-box-info p {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 30px;
    color: var(--gray-color);
}

.product-box-info span:first-of-type {
    display: inline-flex;
    align-items: center;
    padding: 4px 14px;
    margin: 0 5px;
    border-radius: 50px;
    background-color: var(--black-color);
}

.product-box-info span:first-of-type svg {
    width: 70px;
    height: 15px;
}

.product-box-info span:last-of-type {
    display: inline-flex;
    align-items: center;
    margin-left: 5px;
}

.product-box-info span svg {
    width: 62px;
    height: 25px;
}

.product-specifications {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.product-specifications a {
    font-size: 16px;
    color: var(--black-color);
    text-transform: uppercase;
    text-decoration: none;
}

/* Related products */
.related h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
}

/* About page */
.simple-hero {
    text-align: center;
    background-color: #F6F5F3;
    padding: 65px 0;
}

.simple-hero-caption h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.simple-hero-caption p {
    font-size: 18px;
}

/* Info Block */
.info-block {
    position: relative;
}

.info-block .site-row .site-col-6:first-of-type {
    display: flex;
    align-items: center;
}

.info-block-content {
    width: 70%;
    padding-right: 70px;
    margin: 0 0 0 auto;
}

.info-block-content h5 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--gray-color);
}

.info-block-content h2 {
    font-size: 48px;
    font-weight: 500;
    margin: 0 0 25px 0;
    color: var(--body-color);
}

.info-block-content .site-button {
    margin-top: 35px;
}

.info-block-content strong {
    color: #007c8a;
    font-weight: 400;
    font-style: italic;
}

.info-block-content p {
    font-weight: 400;
    color: var(--gray-color);
}

.info-block-content p:last-of-type {
    margin-bottom: 0;
}

.info-block-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

.info-block-image {
    width: auto;
    height: 670px;
}

.about-gallery .swiper-slide {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto
}

.swiper {
    display: flex;
    align-items: center;
    justify-content: center
}

.slider-image figure {
    height: 600px;
}

.slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.about-gallery {
    position: relative;
}

.about-gallery .swiper-button-disabled {
    display: none
}

.about-gallery .swiper-button-prev {
    left: 30px
}

.about-gallery .swiper-button-next {
    right: 30px
}

.about-gallery .swiper-button-prev,
.about-gallery .swiper-button-next {
    width: 40px;
    height: 40px;
    z-index: 10;
    border-radius: 50px;
    background-color: var(--black-color);
}

.about-gallery .swiper-button-next:after,
.about-gallery .swiper-button-prev:after {
    font-size: 16px !important;
    color: var(--white-color)
}

.about-gallery .swiper-button-prev:after {
    margin-left: -3px
}

.about-gallery .swiper-button-next:after {
    margin-right: -3px
}

.about-form-text {
    width: 40%;
    margin: 0 auto;
}

.about-form h2 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 35px;
}

.about-form p {
    text-align: center;
    margin-bottom: 25px;
}

.about-form-block {
    width: 50%;
    margin: 0 auto;
}

.about-contact-form-input input {
    font-size: 16px;
    width: 100%;
    border: none;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #99999930;
}

.about-form-block .site-col-6,
.about-form-block .site-col-12 {
    margin-bottom: 25px;
}

.about-contact-form-input input[type='textarea'] {
    padding-bottom: 100px;
    resize: none;
    width: 100%;
    white-space: pre-wrap;
}

.about-contact-form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-contact-form-submit input {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    width: 60%;
    font-weight: 400;
    padding: 20px 60px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    border: 1px solid var(--black-color);
    background-color: var(--black-color);
}

.about-contact-form-submit input:hover {
    color: var(--black-color);
    background-color: transparent;
}

/* ============================================== */
/* ================ faq styles =============== */
/* ============================================== */
.tab-item-info {
    display: none;
}

.tab-item-info.active {
    display: block;
}

.tabs-menu {
    padding: 20px 0;
    text-align: center;
}

.tabs-list {
    margin-top: 30px;
}

.tabs-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs-menu li {
    margin-right: 20px;
}

.tabs-menu li:last-of-type {
    margin-right: 0;
}

.tabs-menu li.active {
    color: var(--white-color);
    background-color: var(--black-color);
}

.tabs-menu li {
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black-color);
    background-color: transparent;
    border: 1px solid var(--black-color);
    border-radius: 50px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.tabs-menu li:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

.accordions-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.accordion-item {
    width: 48%;
    margin-top: 20px;
    padding-top: 20px;
    border-bottom: 1px solid var(--black-color);
}

.accordion-item:last-of-type {
    padding-bottom: 10px;
}

.accordion-title {
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.accordion-title ul {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.accordion-title ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #e7f8fa;
}

.accordion-title ul li svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.accordion-title h4 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.accordion-title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('/assets/images/plus-icon.svg');
}

.accordion-item.is-active .accordion-title::after {
    background-image: url('/assets/images/minus-icon.svg');
}

.accordion-content {
    display: none;
    padding: 0 0 0 25px;
}

.accordion-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.accordion-content ul li {
    position: relative;
    padding: 0 0 0 15px;
    margin: 0 0 15px 0;
    line-height: 1.4;
}

.accordion-content ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '\2022';
    color: #00545e;
    width: 5px;
}

.accordion-content p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.accordion-content p a {
    color: #07b3c6;
    text-decoration: none;
}

.accordion-content p:last-of-type {
    margin-bottom: 0;
}

.accordion-content em {
    display: block;
    padding: 20px;
    font-weight: 500;
    font-style: normal;
    border-radius: 12px;
    background-color: #e7f8fa;
}

.accordion-item .site-button {
    margin-top: 35px;
}

.accordion-item .site-button a {
    width: 255px;
}

/* Filtre */
.filtre-menu-close {
    cursor: pointer;
    display: flex;
    color: #313132;
    align-items: center;
}

.filtre-close {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #F6F5F3;
}

.filtre-close::before,
.filtre-close::after {
    position: absolute;
    content: ' ';
    height: 12px;
    width: 2px;
    background-color: var(--black-color);
}

.filtre-close::before {
    transform: rotate(45deg);
}

.filtre-close::after {
    transform: rotate(-45deg);
}

.filtre-menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    background-color: #f3f4f5;
    z-index: 11;
    transform: none;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.filtre-menu-active .filtre-menu {
    right: 0;
    transform: none;
}

body.filtre-menu-open {
    overflow: hidden;
}

.filtre-menu-open .site-overlay {
    opacity: 1;
    visibility: visible;
}

.filtre-menu-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 20px 15px 0 15px;
    overflow-y: scroll;
    border-radius: 0;
}

.filtre-menu-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.filtre-menu-title h3 {
    font-size: 24px;
}

.filtre-menu-content {
    display: flex;
    height: 100%;
}